# Temp and vendor folders
.vscode/
vendor/
files/
.idea/

# Temp and environment variables
.DS_Store
composer.pharsendgrid.env
"sendgrid.env"
composer.lock
.run# Created by .ignore support plugin (hsz.mobi)
.idea/aumet-onex.iml
