.datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-head .datatable-row > .datatable-cell > span,
.datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-foot .datatable-row > .datatable-cell > span {
	color: #13b9a9 !important;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: normal;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
	background: #13b9a914 !important;
}

.p-0 {
	padding: 0 !important;
}
.form-label {
	text-align: left;
	font-weight: bold;
}
.sub-header {
	color: #13b9a9 !important;
	font-weight: 700;
	padding-bottom: 1rem;
}
.float-left {
	float: left;
}
.btn-lg-radius {
	border-radius: 0.5em;
}

label.myLabel input[type='file'] {
	position: absolute;
	top: -1000px;
}
.navi .navi-link {
	color: #fff !important;
	margin: 0.5rem 0 !important;
}

.modal .select2-container {
	width: 100% !important;
}

.la-icon i {
	font-size: 2.3rem !important;
	vertical-align: bottom;
}

.standard-radius {
	border-radius: 0.42rem !important;
}

.bg-danger-hover:hover,
.bg-danger-hover:hover * {
	color: #f64e60 !important;
	background-color: #ffe2e5 !important;
}

.fit-width {
	width: auto;
	display: inline-flex;
}

.dataTables_length {
	float: left;
	margin-right: 20px;
}

.dataTables_filter {
	float: right;
}

.btn-add-datatables {
	float: right;
	margin-left: 1rem;
}
.dual-listbox .dual-listbox__container .dual-listbox__title {
	color: #0f9487;
	font-weight: 600;
	font-size: 1.2rem;
	padding: 0.75rem 0.75rem;
	border: 1px solid #EBEDF3;
	border-bottom: 0;
	border-top-left-radius: 0.42rem;
	border-top-right-radius: 0.42rem;
	background-color: #F5F5F5;
}